USE [cembs]
GO
/****** Object:  FullTextCatalog [FullTextSearch]    Script Date: 08/16/2012 09:13:11 ******/
CREATE FULLTEXT CATALOG [FullTextSearch]WITH ACCENT_SENSITIVITY = OFF
AUTHORIZATION [dbo]
GO
/****** Object:  Table [dbo].[SearchEngine]    Script Date: 08/16/2012 09:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SearchEngine](
	[searchID] [nchar](10) NOT NULL,
	[page_title] [varchar](200) NULL,
	[page_url] [nvarchar](200) NULL,
	[page_content] [text] NULL,
	[keywords] [text] NULL,
 CONSTRAINT [PK_SearchEngine] PRIMARY KEY CLUSTERED 
(
	[searchID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE FULLTEXT INDEX ON [dbo].[SearchEngine](
[keywords] LANGUAGE [English])
KEY INDEX [PK_SearchEngine]ON ([FullTextSearch], FILEGROUP [PRIMARY])
WITH (CHANGE_TRACKING = AUTO, STOPLIST = SYSTEM)
GO
INSERT [dbo].[SearchEngine] ([searchID], [page_title], [page_url], [page_content], [keywords]) VALUES (N'10        ', N'CEM Jewel', N'http://www.cemjewellerysoftware.com', N'<strong>CEM Jewel</strong> is a perfect blend of software excellence and jewellery domain knowledge. CEM Jewel software is designed keeping your customers and your services to them, which is the key factor for your growth.... ', N'enterprise resource planning (ERP), cem jewel, jewellery software,finance,inventory,purchase,sub-contracting, contracting, sales,administration, crm administration')
