#search
        {
            font-family:Segoe UI;
        }
        #search a.page_title
       {
           color:#067ab3;
           font-size:18px;
       }
        #search a.page_title:visited
       {
           color:#000;
           font-size:18px;
       }