.sitemapdiv
{
    height: 22px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    font-size: 11px;
}
.sitemap
{
    max-width: 450px;
    margin: 0 auto;
    padding: 5px 0 0 10px;
    float: left;
}
.sitemap a
{
    text-decoration: underline;
}
li .sitemap a
{
    /*background:url(../images/sitemaplinks.png) no-repeat;*/
    background: none;
    color: #584C47;
    display: block;
    padding: 0 7px;
    text-decoration: underline;
    text-shadow: 1px 0 1px #FFFFFF;
}
.sitemap a:hover
{
    text-decoration: underline;
}
