#slider
{
    width: 980px;
    height: 309px;
}

#slider .control-links
{
    bottom: 0;
    color: #000;
}

#demo-description
{
    width: 980px;
    margin: 60px auto;
    color: #fff;
    font: 20px 'PT Sans' , 'Helvetica Neue' , Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
