<?xml version="1.0"?>
<configuration>
    <system.web>

    </system.web>
  <system.net>
    <mailSettings>
      <smtp from="careers@cembs.com" deliveryMethod="Network">
        <network host="pod51021.outlook.com" userName="careers@cembs.com" password="C@reers@123"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
