@charset "utf-8";body{margin:0;}
.bluebg{background-color:#2491BA;}
.float_left{float:left;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section{display:block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none;}
.txt-rt{text-align:right;}
.txt-lt{text-align:left;}
.txt-center{text-align:center;}
.float-rt{float:right;}
.float-lt{float:left;}
.clear{clear:both;}
.pos-relative{position:relative;}
.pos-absolute{position:absolute;}
.vertical-base{vertical-align:baseline;}
.vertical-top{vertical-align:top;}
.underline{padding-bottom:5px;border-bottom:1px solid #eee;margin:0 0 20px 0;}
nav.vertical ul li{display:block;}
nav.horizontal ul li{display:inline-block;}
img{max-width:100%;border:none}
body{}
.wrap{margin:0 auto;width:980px;padding:0px}
.size-980 .line{margin:0 auto;max-width:61.250em;padding:0px;}
.sharethis span{color:#000}
.top-nav{background-color:#000;width:100%;float:left;margin-bottom:0px;}
.top-nav h1{position:relative;color:#446cb3;font-weight:700;font-style:normal;font-size:30px;text-align:center;padding:0px 0px 5px 0px;text-shadow:0px 1px 1px rgba(255,255,255,0.8);}
.top-nav h1 span{font-size:20px;line-height:20px;text-align:center;display:block;font-weight:400;font-style:italic;color:#446cb3;text-shadow:1px 1px 1px rgba(0,0,0,0.1);}
.top-nav h2{font-size:16px;font-style:italic;color:#2d6277;text-shadow:0px 1px 1px rgba(255,255,255,0.8);}
.menu-container{width:100%;margin:0 auto;padding:20px 0;}
label.responsive_menu span{margin-left:10px;color:white;display:none;}
.menu{font-family:'Droid Sans', sans-serif;font-weight:400;font-size:13px;line-height:15px;position:relative;padding:0 0 0 4px;margin:0;float:left;background-color:#000;*z-index:100 !important;}
.menu a, .menu a:link, .menu a:visited, .menu a:focus, span{color:#fff;text-decoration:none;display:inline-block}
.menu a:hover{color:#c4c4c4;text-decoration:none;}
.menu > li{display:inline-block;*display:inline;text-align:center;margin-left:-4px;border-left:1px solid rgba(255, 255, 255, 0.11);box-shadow:-1px 0 0 rgba(0, 0, 0, 0.1);}
.menu > li > a{padding:15px 22px;display:block;color:#fff;}
.menu > li:hover > a{color:#fff;}
.menu > li:hover{background-color:#2491ba;}
.menu > li:first-child{border-left:none;box-shadow:none;}
.menu > li:last-child{border-right:1px solid rgba(0, 0, 0, 0.1);box-shadow:1px 0 0 rgba(255, 255, 255, 0.11);}
.menu > li > ul{opacity:0;visibility:hidden;position:absolute;list-style:none;top:45px;background-color:#2491ba;width:200px;text-align:left;margin-top:30px;padding:0px;z-index:99;*left:5px;*z-index:100 !important;border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
.menu > li:hover > ul{opacity:1;visibility:visible;margin-top:0px;}
.menu li > ul li{font-size:12px;position:relative;display:block;}
.menu li > ul li a{font-size:12px;position:relative;display:block;padding:7px 0px 10px 20px; width:190px; max-width:200px}
.menu > li > ul li:hover{background-color:#000;}
.menu ul li:hover > a{color:#fff;text-decoration:none;}
.menu > li > ul li ul{opacity:0;visibility:hidden;position:absolute;list-style:none;top:0px;left:200px;background-color:#2491ba;width:200px;text-align:left;padding:0px;margin-left:30px;}
.menu > li > ul li ul li:hover{background-color:#fff;}
input#responsive_menu{display:none;}
.menu > li > ul li ul li ul{background-color:#2491ba;}
.menu > li > ul li ul li ul li:hover{background-color:#fff;}
.menu > li ul li:hover > ul{opacity:1;visibility:visible;margin-left:0px;}
.dropdown{position:relative;}
.menu .columndrop{opacity:0;visibility:hidden;position:absolute;list-style:none;top:45px;background-color:#2491ba;min-height:100px;text-align:left;margin-top:30px;padding:0;padding:0 10px;z-index:99;border-bottom-left-radius:5px;border-bottom-right-radius:5px;width:385px;*left:5px;}
.menu > li:hover .columndrop{opacity:1;visibility:visible;margin-top:0px;color:#fff;}
.menu .columndrop .col{width:160px;margin:0 9px;}
.menu .col{width:14.1%;float:left;color:white;margin:0 0 0 2.2%;}
.menu .col ul{padding:0;margin:0;}
.menu .col ul li{padding:0;list-style:none;font-size:12px;}
.menu .col h3{font-size:16px;padding:14px 0;font-weight:400;margin:5px 0 5px 0;}
.menu .col h5{font-size:12px;padding:0px;font-weight:400;margin:0;}
.menu .col ul li a{display:block;padding:0 0 15px 0;}
.menu .col ul li a:hover{color:#111;text-decoration:underline;}
.menu > li > ul li ul, .menu li >ul li, .menu > li > .megadrop, .menu > li > .columndrop, .menu > li > ul, .menu > li{transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-outs;}
.logo-section{float:left;width:100%;padding:10px 0;margin:0px;}
.cem_logo{float:left;width:195px;padding:5px 0 5px 5px;}
.logo_rsec{float:right;max-width:490px;padding:0px 1px 0px 0px;margin:0px;margin-top:4px;}
#search span{color:#505050;}
.search{position:relative;height:28px;float:right;top:0px;}
.search .search_div{background:none repeat scroll 0 0 #2491BA;box-shadow:1px 1px 1px #000 inset;top:0px;height:30px;right:0px;position:relative;float:right;}
.search .search_div .search_txt{border:medium none;float:left;height:30px;padding:0 0 0 10px;font-size:11px;color:#d8d7cf;width:165px;top:0px;left:0px;background:none repeat scroll 0 0 #2491BA;box-shadow:1px 1px 1px #000000 inset;}
.search .search_div .search_btn{float:right;width:24px;height:22px;background:url(../Images/search_btn.png);position:absolute;top:3px;right:3px;}
.extended_menu{position:relative;clear:both;background:#eee;height:28px;width:980px;margin-bottom:7px;}
.extended_menu .ex_links{padding:0 0 0 10px;margin:0;list-style:none;}
.extended_menu .ex_links li{float:left;font-family:Tahoma, Geneva, sans-serif;text-decoration:none;font-size:11px;height:22px;padding:6px 0px 0px 0px;}
.extended_menu .ex_links li a{color:#584c47;display:block;text-decoration:none;text-shadow:1px 0 1px #FFFFFF;padding:0 10px;background:url(../Images/extendedmenu_li_seperator.png) no-repeat right center;}
.extended_menu .ex_links li a:hover{color:#000;display:block;text-decoration:none;text-shadow:1px 0 1px #FFFFFF;}
.extended_menu .search{position:relative;height:28px;float:right;}
.extended_menu .search .search_div{background:none repeat scroll 0 0 #2491ba;box-shadow:1px 1px 1px #000 inset;top:1px;height:25px;right:0px;position:relative;float:right;}
.extended_menu .search .search_div .search_txt{border:medium none;float:left;height:22px;padding:0 0 0 10px;font-size:11px;color:#000;width:165px;top:0px;left:0px;background:none repeat scroll 0 0 #2491ba;box-shadow:1px 1px 1px #000000 inset;}
.extended_menu .search .search_div .search_btn{float:right;width:24px;height:22px;background:url(../../Images/search_btn.png);position:absolute;top:0px;right:0px;}
.extended_menu .sitemap{font-size:11px;margin-top:0;max-width:500px;padding-bottom:0;padding-left:10px;padding-right:0;padding-top:7px;color:#000;}
.extended_menu .sitemap span{display:inline;color:#000}
#footer{background:#2491ba;border-bottom:1px solid #C9C5C5;box-shadow:0 1px 3px #818181;color:#FFFFFF;display:inline-block;font-size:11px;height:100%;line-height:normal;margin:2px 0 0;padding:5px 0 0px 0;width:100%;}
#footer .container{float:left;width:98%;padding:20px 1%;margin:0px;background-color:#2491ba;}
#footer .container .tab{float:left;padding:0 0px 0 10px;max-width:175px;width:17%;}
#footer h3{font-size:12px;color:#fff;text-align:left;font-weight:bold}
#footer ul{padding:0px 0 0 0;font-size:11px;color:#c9c5c5;}
#footer ul li{list-style:none;text-decoration:none;text-align:left;line-height:20px;}
#footer ul li a{color:#fff;text-decoration:none;}
#footer ul li a:hover{color:#000;text-decoration:none;}
.sharethis{width:140px !important;clear:both !important;}
#sitemapfooter_div{background:#000 !important;height:45px;display:inline-block;border:0px solid #000;width:100%;font-family:Tahoma;font-size:13px;position:relative;-moz-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;-webkit-border-radius-bottomright:5px;-webkit-border-radius-bottomleft:5px;behavior:url(../border-radius.htc);box-shadow:0 1px 3px #818181;clear:both;margin:7px 0 0 0}
#sitemapfooter_div .sitemap{float:left;background:#000;height:45px;display:inline-block;border:0px solid #000;}
#sitemapfooter_div .sitemap ul{color:#fff;list-style:none;font-size::13px;margin:12px 0 0;padding-left:10px;text-decoration:none;}
#sitemapfooter_div .sitemap ul li{float:left;text-align:center;padding:0 8px;}
#sitemapfooter_div .sitemap ul li a{color:#fff;text-decoration:none;}
#sitemapfooter_div .sitemap ul li a:hover{color:#29ABC0;text-decoration:none;}
#sitemapfooter_div .social{display:block;float:right;width:150px;}
#sitemapfooter_div .social .icons{float:left;padding:1px 2px 0 2px;border:none;}
#sitemapfooter_div .social .icons img:hover{border:none;filter:alpha(opacity=50);opacity:0.5;-moz-opacity:0.5;}
#sitemapfooter_div .social .icons img{border:none;filter:alpha(opacity=100);opacity:1;-moz-opacity:1;}
#sitemapfooter_div .social .icons a{border:none;text-decoration:none;}
.copyrights_div{text-align:right;font-size:11px;font-family:Tahoma, Geneva, sans-serif;color:#636363;padding:5px 5px 10px;}
.scrollup{width:50px;height:50px;background-image:url(../../images/v3/up.png);background-position:center center;background-repeat:no-repeat;position:fixed;right:50px;z-index:250;cursor:pointer;bottom:30px;display:none;}
.navbar-toggle .icon-bar{background-color:#000;border-radius:1px;display:block;height:2px;width:22px;}
.navbar-toggle .icon-bar + .icon-bar{margin-top:4px;}
.navbar-inverse .navbar-toggle{border-color:#000;}
.navbar-toggle{background-color:rgba(0, 0, 0, 0);border:0px solid #000;border-radius:0px;float:right;margin-bottom:8px;margin-right:0px;margin-top:8px;padding-right:0px;float:left;}
.navbar-link{position:absolute;top:28px;right:10px;cursor:pointer;padding:5px 10px;border:1px solid #000;}
.navbar-linktext{float:left;color:#000;font-family:segoe ui,sans-serif;text-transform:uppercase;font-weight:600;margin-top:5px;}

#quote label{min-width:100px;display:inline-block; padding-top:5px;vertical-align:top;}
#quote textarea{height:auto;line-height:24px;padding:5px 2px;text-indent:0;margin:0;}
#quote textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{border:1px solid #bdc3c7;color:#333;padding:8px 2px;text-indent:6px;-webkit-appearance:none;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-transition:border .25s linear, color .25s linear;-moz-transition:border .25s linear, color .25s linear;-o-transition:border .25s linear, color .25s linear;transition:border .25s linear, color .25s linear;-webkit-backface-visibility:hidden;width:245px;margin-bottom:3px;}
select{border:1px solid #bdc3c7;color:#333;font-size:16px;padding:7px 5px;-webkit-appearance:none;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-transition:border .25s linear, color .25s linear;-moz-transition:border .25s linear, color .25s linear;-o-transition:border .25s linear, color .25s linear;transition:border .25s linear, color .25s linear;-webkit-backface-visibility:hidden;width:225px;margin-bottom:3px;}
#quote textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus{border-color:#999;-moz-outline:none;outline:none;}
.awards_title{color:#000;}