@charset "utf-8";.blackfont{color:#000 !important}
img{border:0px;}
.slider{float:left;width:100%;}
.news-ticker-sec{float:left;width:100%;height:52px;background-color:#2491BA;}
.news-ticker-sec .tic_lef{float:left;width:23%;text-align:center;color:#fff;text-transform:uppercase;font-size:16px;padding:14px 0 13px 0;background-color:#000;font-family:'Oswald', sans-serif;}
.news-ticker-sec .tic_rig{float:left;width:77%;text-align:center;color:#ffea02;font-size:13px;padding:8px 0 0 0;background-color:#2491BA;font-family:'Oswald', sans-serif;letter-spacing:1px}
.tickercontainer{height:27px;margin:0;padding:0;overflow:hidden;}
.tickercontainer .mask{position:relative;left:10px;top:8px;width:718px;overflow:hidden;height:27px;}
ul.newsticker{position:relative;left:750px;font-family:'Oswald', Arial, sans-serif;list-style-type:none;margin:0;padding:0;height:27px;}
ul.newsticker li{float:left;margin:0;padding:0;height:27px}
ul.newsticker a{white-space:nowrap;padding:0;color:#ff0000;font:bold 10px Verdana;margin:0 50px 0 0;}
ul.newsticker span a{margin:0 30px 0 0;color:#fff;font-size:13px;font-family:'Oswald', Arial, sans-serif;font-weight:normal;}
.flip_section{float:left;width:100%;padding:20px 0;margin:0;}
.flip_section .tab_mcon{float:left;width:19.3%;margin:0 .8% 0 0;padding:0px;font-family:Segoe UI,sans-serif;color:#505050;font-size:12px;position:relative;}
.flip_section .tab_mcon_la{float:left;width:19.3%;margin-right:0px;font-family:Segoe UI,sans-serif;color:#505050;font-size:12px;}
.flip_section h1{color:#1a4353;font-size:16px;font-family:'Oswald', Arial, sans-serif;padding:0 0 5px;margin:0px;text-transform:uppercase;font-weight:inherit;}
.flip_section .tab_sec{border:1px solid #e4e4e4;float:left;padding:0px;margin:0px;width:99%;}
.flip_section .tab_sec:hover{background-color:#29abc0;color:#fff}
.flip_section .con{padding:10px 15px 20px 14px;margin:0px;text-align:justify;max-height:90px;}
.flip_section .btn{float:right;width:55px;height:15px;color:#fff;padding:4px 0 6px 0;margin:0 14px 8px 0;background:#000;text-align:center;text-transform:uppercase;text-decoration:none}
.flip_section .btn:hover{background:#f7c707;text-decoration:none;cursor:pointer}
.flip_section .btn a{color:#FFF;}
.miceleneaus_sec{float:left;width:100%;padding:20px 0;margin:0;}
.miceleneaus_sec .tab_mcon{float:left;width:24.3%;border:1px solid #e4e4e4;margin-right:.8%;padding:0px;font-family:'Droid+Sans', Arial, sans-serif;color:#696969;font-size:12px;background-color:#fff;max-width:238px;}
.miceleneaus_sec .tab_mcon:hover, .miceleneaus_sec .tab_mcon_la:hover{background-color:#29abc0;color:#fff;}
.miceleneaus_sec .tab_mcon:hover h1, .miceleneaus_sec .tab_mcon:hover .btn, .miceleneaus_sec .tab_mcon_la:hover h1, .miceleneaus_sec .tab_mcon_la:hover .btn, .miceleneaus_sec .tab_mcon:hover .con ul li a, .miceleneaus_sec .tab_mcon_la:hover .con ul li a, .miceleneaus_sec .tab_mcon:hover .btn a, .miceleneaus_sec .tab_mcon_la:hover .btn a{color:#fff;}
.miceleneaus_sec .tab_mcon:hover .con ul li a:hover, .miceleneaus_sec .tab_mcon_la:hover .con ul li a:hover, .miceleneaus_sec .tab_mcon:hover .btn a:hover, .miceleneaus_sec .tab_mcon_la:hover .btn a:hover{color:#000;}
.miceleneaus_sec .tab_mcon_la{float:left;width:24%;border:1px solid #e4e4e4;margin-right:0px;font-family:'Droid+Sans', Arial, sans-serif;color:#696969;font-size:12px;background-color:#fff;max-width:233px;}
.miceleneaus_sec .tab_mcon_la:hover{background-color:#29abc0;color:#fff;}
.miceleneaus_sec .con{padding:8px;text-align:justify;}
.miceleneaus_sec .con h1{font-size:16px;text-transform:uppercase;padding:3px 0 8px 0;margin:0px;font-family:'Oswald', sans-serif;color:#0088CD;font-weight:inherit;}
.miceleneaus_sec .con ul{width:100%;float:left;min-height:108px}
.miceleneaus_sec .con ul li{list-style:none;text-decoration:none;text-align:left;line-height:18px;}
.miceleneaus_sec .con ul li:hover{text-decoration:none;color:#000;cursor:pointer}
.miceleneaus_sec .con ul li a{color:#696969;text-decoration:none;font-family:Segoe UI,sans-serif}
.miceleneaus_sec .con ul li a:hover{color:#000;text-decoration:none;}
.miceleneaus_sec .btn{float:right;color:#696969;padding:6px 0;margin:0 8px 8px 0;text-decoration:none;}
.miceleneaus_sec .btn a{color:#696969;text-decoration:none;}
.miceleneaus_sec .btn a:hover{color:#000;text-decoration:none;}
.miceleneaus_sec .tab_mcon:hover .btn:hover{color:#000;text-decoration:none;cursor:pointer}
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus{outline:none;}
.slides,
.flex-control-nav,
.flex-direction-nav{margin:0;padding:0;list-style:none;}
.flexslider{margin:0;padding:0;}
.flexslider .slides > li{position:relative;zoom:1;display:none;-webkit-backface-visibility:hidden;}
.flexslider .slides img{width:100%;display:block; height:100%}
.flex-pauseplay span{text-transform:capitalize;}
.flexslider{position:relative;zoom:1;z-index:50;}
.slides:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
html[xmlns] .slides{display:block;}
* html .slides{height:1%;}
.no-js .slides > li:first-child{display:block;}
.flexslider{background:#fff;zoom:1;}
.ie7 .flexslider{margin-bottom:-30px;}
.flex-viewport{max-height:2000px;}
.loading .flex-viewport{max-height:300px;}
.flexslider .slides{zoom:1;}
.flex-direction-nav a{width:35px;height:35px;display:block;background-color:#000;bottom:20px;right:20px;float:none;position:absolute;cursor:pointer;text-indent:-9999px;background-color:#222;background:rgba(0, 0, 0, 0.65);*bottom:50px;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;-ms-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;}
.flex-direction-nav .flex-next{background-image:url(../../images/v3/slider-control-right.png);background-repeat:no-repeat;background-position:52% 50%;}
.flex-direction-nav .flex-prev{margin-right:36px;background-image:url(../../images/v3/slider-control-left.png);background-repeat:no-repeat;background-position:48% 50%;}
.flex-direction-nav .flex-prev:hover, .flex-direction-nav .flex-next:hover{background-color:#0fb4f2;opacity:1;}
.subpage .flex-direction-nav a{bottom:0px;right:0px;*bottom:30px;}
.flex-control-nav{width:100%;position:absolute;bottom:-30px;text-align:center;}
.flex-control-nav li{margin:0 3px 0 0;display:inline-block;zoom:1;*display:inline;}
.flex-control-paging li a{width:14px;height:14px;display:block;background:#c8c8c8;cursor:pointer;text-indent:-9999px;-webkit-border-radius:20px;-moz-border-radius:20px;-o-border-radius:20px;border-radius:20px;}
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active{background:#505050;}
.flex-control-paging li a.flex-active{cursor:default;}
#smart_tab_section{float:left;padding:0px;margin:0px;width:980px;font-size:14px;}
.lasttab,.firsttab{float:left;width:490px}
#smart_tab_section h2{font-size:14px;font-weight:600;color:#000 !important}
#smart_tab_section .link_t{font-size:12px;color:#2297c4;margin-top:6px}
#tabs, #tabs2{overflow:hidden;width:484px;margin:0;padding:0;list-style:none;text-transform:uppercase;font-family:'Droid Sans',Segoe UI,sans-serif;}
#tabs li, #tabs2 li{float:left;margin:0 -12px 0 0;}
#tabs a, #tabs2 a{font-size:12px;float:left;position:relative;padding:0 8px 0 10px;height:0;line-height:30px;text-transform:uppercase;text-decoration:none;color:#fff;border-right:30px solid transparent;border-bottom:30px solid #000;border-bottom-color:#000\9;opacity:.4;filter:alpha(opacity=40);}
#tabs a:hover,
#tabs a:focus,
#tabs2 a:hover,
#tabs2 a:focus{opacity:1;filter:alpha(opacity=100);border-bottom:30px solid #2ac7e1;border-bottom-color:#2ac7e1\9;}
#tabs a:focus, #tabs2 a:focus{outline:0;}
#tabs #current, #tabs2 #current{z-index:3;opacity:1;border-bottom:30px solid #2491BA;border-bottom-color:#2491BA\9;filter:alpha(opacity=100);}
#smart_tab_section #content a, #smart_tab_section #content2 a{color:#2297C4;}
#smart_tab_section #content a:hover, #smart_tab_section #content2 a:hover{color:#000;}
#content, #content2{background:#fff;border:1px solid #ccc;padding:10px;width:460px;height:240px;font-family:Segoe UI, sans-serif;font-size:12px;overflow:hidden;}
#content2 h2{color:#000 !important;}
#content h2,
#content h3,
#content p,
#content2 h2,
#content2 h3,
#content2 p{margin:0 0 5px 0;color:#505050;}
.blog_cont, case_cont{height:115px;clear:both;}
.blog_cont_s, case_cont_s{height:49px;clear:both;overflow:hidden;}
#tab3 .blog_cont_s{font-style:italic}

.sharethis{width:120px !important;clear:both !important;}
.sharethis span{color:#000}
.stButton{float:left !important;margin:0 0 6px 0 !important;}
.stButton .st-twitter-counter, .stButton .st-facebook-counter{height:23px !important;}
.stButton .stButton_gradient{height:17px !important;float:right;}
.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices{height:23px !important;float:right;}
._42ef{display:none;}
#vertical-ticker, #vertical-ticker2, #vertical-ticker3, #vertical-ticker4, #vertical-ticker5, #vertical-ticker6{height:220px;overflow:hidden;margin:0;padding:0;}
#vertical-ticker li, #vertical-ticker2 li, #vertical-ticker3 li, #vertical-ticker4 li, #vertical-ticker5 li, #vertical-ticker6 li{height:115px;display:block;}
a.uiLinkSubtle{display:none;}
.fss{display:none !important}
.blog_cont h2 .h2span{font-size:12px;color:#505050}
