.wrap{width:960px;margin:0 auto;}
.demo-container{padding:20px 0;}
.demo-container h4{font-size:14px;margin:0 0 5px 0;}
.mega-menu ul, .mega-menu ul li{list-style:none;}
.mega-menu ul{position:relative;padding:0;margin:0;}
.mega-menu ul li ul{display:none;}
.mega-menu .sub{display:none;}
.mega-menu .sub ul{display:block;}
#mega-menu-1{font:normal 13px Arial, sans-serif;list-style:none;position:relative;padding:0;margin:0;}
#mega-menu-1 .sub ul{display:block;}
#mega-menu-1{margin-left:265px;height:38px;position:relative;}
#mega-menu-1 li{float:left;margin:0;padding:0;font-weight:bold;}
#mega-menu-1 li a{float:left;display:block;color:#fff;padding:12px 18px 9px 18px;text-decoration:none;}
#mega-menu-1 li.mega-hover a, #mega-menu-1 li.mega-hover a:hover{color:#ffae00;}
#mega-menu-1 li a:hover{color:#ffae00;}
#mega-menu-1 li .sub-container{position:absolute;}
#mega-menu-1 li .sub{background:#eee;border:1px solid #d5d5d5;border-top:none;opacity:0.96;filter:alpha(opacity = 96);padding:13px 0px 13px 13px;}
#mega-menu-1 li .sub .row{width:100%;overflow:hidden;clear:both;}
#mega-menu-1 li .sub li{list-style:none;float:none;width:182px;font-size:1em;font-weight:normal;}
#mega-menu-1 li .sub li.mega-hdr{margin:0 10px 10px 0;float:left;}
#mega-menu-1 li .sub li.mega-hdr.last{margin-right:0;}
#mega-menu-1 li .sub a{background:#106AFF !important;color:#fff;padding:10px 10px;display:block;float:none;font-size:0.9em;margin:10px 0;}
#mega-menu-1 li .sub li.mega-hdr a.mega-hdr-a{padding:5px 15px;margin-bottom:5px;background:#6B6B6B;text-transform:uppercase;font-weight:bold;color:#fff;}
#mega-menu-1 li .sub li.mega-hdr a.mega-hdr-a:hover{color:#000;}
#mega-menu-1 .sub li.mega-hdr li a{font-size:13px;font-weight:bold;min-height:32px;padding:35px 10px 27px 15px;box-shadow:0 6px 8px -6px #000000;text-align:center;}
#mega-menu-1 .sub li.mega-hdr li a:hover{color:#fff;}
#mega-menu-1 .sub ul li{padding-right:0;}
#mega-menu-1 li .sub-container.non-mega .sub{padding:10px;}
#mega-menu-1 li .sub-container.non-mega li{padding:0;width:190px;margin:0;}
#mega-menu-1 li .sub-container.non-mega li a{padding:7px 5px 7px 22px;}
#mega-menu-1 li .sub-container.non-mega li a:hover{color:#a32403;background:#efefef;}