.video_div
{
    border-bottom: 1px solid #f1f1f1;
    display: inline-block;
    width: 100%;
    padding: 10px 0 10px 0;
}
.video_div .video_thumb
{
    float: left;
}
.video_div .text_link
{
    padding: 0 0 0 10px;
    float: left;
}
.video_div .text_link a
{
}
.video_div .text_link h2
{
    border: none;
    font-size: 16px;
}
.video_div .video_thumb img
{
    margin: 0;
}


/* photos */
.gallery
{
    width: 560px;
    display: inline-block;
}
.gallery .photos
{
    padding: 0;
    display:inline-block;
}
.gallery .photos li
{
    list-style: none; /*overflow:hidden;     padding:2px;     border:1px solid #e1e1e1;*/
    float: left;
    padding:10px 0;
}
.gallery .photos li img
{
    border:none;
    box-shadow:0 11px 7px -9px #000000;
    padding:0px;
    /*border: 1px solid #E1E1E1;
    padding: 3px;*/
    margin: 1px 16px 11px 0px;
    float:none;
}

/* end photos */
